@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Ubuntu:wght@400;700&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu',sans-serif;
}
header{
    padding: 1em 0;
    display: flex;
    justify-content: space-around;
    background-color: #edc7b7;
    color: #bab2b5;
}
.header1{
    font-family: 'Catamaran',sans-serif;
    color: #ac3b61;
}
header div{
    display: flex;
    align-items: center;
}
div ul{
    display: flex;
    gap: 1em;
    list-style-type: none;
}
header a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.4s ease;
}
@media (max-width:600px){
    header{
        flex-direction: column;
        align-items: center;
    }
}
.nav a:hover{
    color: #9a1750;
}
section{
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.clinic{
    padding: 2em 1em;
    border-radius: 0.5em;
    color: #fafafa;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #9a1750;
}
a{
    text-decoration: none;
    color: #edc7b7;
}